.homepage__container{
  width: 100vw;
  height: auto;
}
.homepage__container > svg{
  position: fixed;
  height: 8vh;
  top: 3vh;
  /* left: 50%;
  transform: translateX(-50%); */
}
.homepage__head{
  z-index: 30;
  width: 100%;
  margin-top: -100px;
  height:200px;
  background-color: #493E4E;
  transform: skew(0deg,5deg);
  position: absolute;
  transition: .5s;
}
.homepage__head.active{
  z-index: 30;
  width: 100%;
  height: 150px;
  background-color: #493E4E;
  transform: skew(0deg,10deg);
  position: fixed;
  top: 0;
}
.homepage__head_1{
  z-index: 30;
  width: 100%;
  margin-top: -35px;
  height: 200px;
  background-color: #625767;
  transform: skew(0deg,10deg);
  position: absolute;
  transition: .5s;
}
.homepage__head_1.active{
  z-index: 30;
  width: 100%;
  margin-top: -100px;
  height: 120px;
  transform: skew(0deg,5deg);
  position: fixed;
  top: 0;
}
.homepage__content{
  width: 100%;
  height: auto;
  background: #ececec;
  margin-bottom: -30px;
  position: relative;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
}
.homepage__content > .title{
  color: black;
  position: fixed;
  bottom: 50%;
  right: 50%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 80px;
}
.homepage__line{
  width: 100vw;
  height: 1px;
  background: black;
  top: 50%;
  position: fixed;
}

.homepage__head_2{
  z-index: 29;
  background-color: #5A816E;
  width: 100%;
  height: 200px;
  margin-top: -30px;
  transform: skew(0deg,-2deg);
  position: absolute;
}
.homepage__head_2.active{
  z-index: 29;
  background-color: #5A816E;
  width: 100%;
  height: 200px;
  margin-top: 0px;
  transform: skew(0deg,-2deg);
  position: fixed;
  top: -200px;
}
.homepage__head_3{
  z-index: 29;
  background-color: #739A88;
  width: 100%;
  height: 100px;
  transform: skew(0deg,-10deg);
  position: absolute;
}
.homepage__head_3.active{
  z-index: 29;
  background-color: #739A88;
  width: 100%;
  height: 100px;
  margin-top: -170px;
  transform: skew(0deg,-10deg);
  position: fixed;
  top: 0;
}

.homepage__block_3{
  z-index: 30;
  background-color: #675B43;
  width: 100%;
  height: 100px;
  transform: skew(0deg,5deg);
}
.homepage__block_4{
  z-index: 30;
  background-color: #E6D0A1;
  width: 100%;
  margin-top: -150px;
  height: 110px;
  transform: skew(0deg,3deg);
}

.homepage__content_text{
  margin: 0px 10vw;
  line-height: 1.5;
  font-size: 18px;
}
.homepage__project{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1000px;
  margin-bottom: 1000px;
  width: 90vw;
  text-align: center;
}
.homepage__project .item{
  background: pink;
  width: 25vw;
  height: 25vw;
  display: inline-block;
  margin-left: 10vw;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10vw;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.homepage__project .item > .hoverText{
  position: absolute;
  color: white;
  opacity: 0;
  font-weight: bold;
  font-size: 22px;
}
.homepage__project .item:hover > .hoverText{
  opacity: 1;
}
.homepage__project .item > .black{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0);
  transition: .1s;
}
.homepage__project .item:hover > .black{
  background: rgba(0,0,0,.7);
}
