.projectDetails__container{
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: #57bf8f;
}
.projectDetails__content{
  position: fixed;
  top: 1vh;
  left: 1vh;
  min-height: calc(100% - 2vh);
  width: calc(100% - 2vh);
  background: #ececec;
}
.projectDetails__title{
  font-family: 'Playfair Display', serif;
  color: #57bf8f;
  font-size: 80px;
  font-style: italic;
  font-weight: 400;
}
.projectDetails__description{
  font-family: 'typewcond_regular', serif;
  color: black;
  font-size: 20px;
  font-style: normal;
}
.projectDetails__panel{
  position: absolute;
  top: 100vh;
  height: 200vh;
  width: 100%;
  left: 0;
  z-index: 10;
  background: #ececec;
}
.projectDetails__panel > .projectDetails__head{
  position: relative;
  top: 0;
  height: 200px;
  width: 100%;
  left: 0;
  z-index: 11;
  background: #57bf8f;
  border-top: 30px solid #32865f;
}
.projectDetails__panel > .projectDetails__triangle{
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-bottom: 30px solid blue;
}
